# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
.vercel/
